node_modules
package-lock.json
dist
.firebase/hosting.ZGlzdA.cache
.firebaserc
firebase.json
.firebase


# https://aqeel-dev-portfolio.web.app
# install firebase cli
# firebase logout
# firebase login
# firebase init
# npm run build - start here if firebase already initialized 
# firebase deploy