/* ===================================================================================== */

html, body {
    overscroll-behavior-y: none;/* overflow-x: hidden; do not use this with animations */
    user-select: none;
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #242424; */
}

.page-number {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* #video-background {
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    object-fit: cover;
    z-index: -1;
    transform: scale(1.02);
} */

/* =================================================================================== */

.styled-button {
    display: flex;
    flex-direction: row;
}
.button, .button-hover-white {
    min-width: 120px;
    min-height: 50px;
    background: none;
    color: #5E9FFF;
    border: 1px #5E9FFF solid;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    padding: 0.6rem;
    transition: 0.7s ease;
}
.button:hover {
    background: #5e9eff7e;
    color: #000000;
}
.button-hover-white:hover {
    background: #5E9FFF;
    color: #ffffff;
}
.middle {
    min-width: 120px;
    display: flex;
    flex-direction: column;
}
.left, .right {
    min-width: 50px;
    display: flex;
    flex-direction: column;
}
.box-1, .box-7, .box-3, .box-9 {
    min-height: 75px;
}
.box-5 {
    min-width: 120px;
    min-height: 50px;
}

/* animate button glow */
.styled-button:hover .box-2,
.styled-button:hover .box-4,
.styled-button:hover .box-6,
.styled-button:hover .box-8 {
    opacity: 100%;
}

.box-2 {
    min-width: 50px;
    min-height: 50px;
    border-bottom: 1.6px solid;
    border-image: linear-gradient(to right, rgba(161, 161, 161, 0) 15%, #0084ffcb 95%) 1;
    opacity: 0%;
    transition: ease-in-out 0.5s;
}
.box-4 {
    min-width: 120px;
    min-height: 75px;
    border-left: 1.6px solid;
    border-image: linear-gradient(to bottom, rgba(161, 161, 161, 0) 15%, #0084ffcb 95%) 1;
    opacity: 0%;
    transition: ease-in-out 0.5s;
}
.box-6 {
    min-width: 120px;
    min-height: 75px;
    border-right: 1.6px solid;
    border-image: linear-gradient(to top, rgba(161, 161, 161, 0) 15%, #0084ffcb 95%) 1;
    opacity: 0%;
    transition: ease-in-out 0.5s;
}
.box-8 {
    min-width: 50px;
    min-height: 50px;
    border-top: 1.6px solid;
    border-image: linear-gradient(to left, rgba(161, 161, 161, 0) 15%, #0084ffcb 95%) 1;
    opacity: 0%;
    transition: ease-in-out 0.5s;
}

/* ============================================================================  */

/* nav font */
.nav-item {
    color: rgb(153, 153, 153);
    text-decoration: none;
    font-weight: 600;
    font-size: .9rem;
    font-family: 'Inter', sans-serif;
}
.nav-item:hover {
    color: #5E9FFF;
}
.nav-item::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #5E9FFF;
    transition: all 0.2s ease;
}
.nav-item:hover::after {
    width: 90%;
    color: #5E9FFF;
}

/* nav-item media queries */
@media only screen and (max-width: 611px) {
    .nav-item{
        font-size: 0.7rem;
    }
    .nav-item:hover::after {
        width: 0;
        color: #0084ff;
    }
}

/* ============================================================================  */

/* Inter font */
.font-inter-medium {
    color: #b8b8b8;
    text-decoration: none;
    font-weight: 600;
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    line-height: 1.2;
}
.font-inter-medium-black {
    color: #242424;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.3rem;
    font-family: 'Inter', sans-serif;
    line-height: 1.2;
}
.font-inter-medium-white {
    color: #b8b8b8;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.3rem;
    font-family: 'Inter', sans-serif;
    line-height: 1.2;
}
.font-inter-small {
    color: rgb(153, 153, 153);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .7rem;
    font-family: 'Inter', sans-serif;
}

/* xsmall fonts */
.headline-xsmall {
    font-size: 1.75rem;
    color: #5E9FFF;
    font-family: 'Lekton', sans-serif;
    font-weight: 400;
    line-height: 1;
}
.headline-xsmall-2 {
    font-size: 1rem;
    color: #5E9FFF;
    font-family: 'Koulen', sans-serif;
    font-weight: 400;
    line-height: 1;
}

/* small fonts */
.headline-small {
    font-size: 1.7rem;
    color: #ffffff;
    font-family: 'M PLUS 1 Code', monospace;
    font-weight: 400;
    line-height: 1;
}
.headline-small-2 {
    font-size: 1.7rem;
    color: #ffffff;
    font-family: 'Koulen', sans-serif;
    font-weight: 400;
    line-height: 1;
}
.headline-small-black {
    font-size: 1.7rem;
    color: #0E0E0E;
    font-family: 'M PLUS 1 Code', monospace;
    font-weight: 400;
    line-height: 1.2;
}
.headline-small-blue {
    font-size: 2rem;
    color: #2b80ff;
    font-family: 'Lekton', sans-serif;
    font-weight: 400;
    line-height: 1;
}

/* medium fonts */
.headline-medium {
    font-size: 3rem;
    color: #5E9FFF;
    font-family: 'Lekton', sans-serif;
    font-weight: 400;
    line-height: 1;
}
.headline-medium-black {
    font-size: 3rem;
    color: #0E0E0E;
    font-family: 'Lekton', sans-serif;
    font-weight: 400;
    line-height: 1;
}

/* large fonts */
.headline-large {
    font-size: 6rem;
    color: #ffffff;
    font-family: 'Koulen', sans-serif;
    font-weight: 400;
    line-height: 1;
}
.headline-large-black {
    font-size: 6rem;
    color: #0E0E0E;
    font-family: 'Koulen', sans-serif;
    font-weight: 400;
    line-height: 1;
}
.headline-large-blue {
    font-size: 6rem;
    color: #5E9FFF;
    font-family: 'Koulen', sans-serif;
    font-weight: 400;
    line-height: 1;
}

/* font media queries */
@media only screen and (max-width: 1500px) {

    /* inter font */
    .font-inter-medium {
        color: #b8b8b8;
        text-decoration: none;
        font-weight: 600;
        font-size: 1.5rem;
        font-family: 'Inter', sans-serif;
        line-height: 1.2;
    }

    /* xsmall fonts */
    .headline-xsmall {
        font-size: 1.2rem;
        color: #5E9FFF;
        font-family: 'Lekton', sans-serif;
        font-weight: 400;
        line-height: 1;
    }
    .headline-xsmall-2 {
        font-size: 1rem;
        color: #5E9FFF;
        font-family: 'Koulen', sans-serif;
        font-weight: 400;
        line-height: 1;
    }

    /* small fonts */
    .headline-small {
        font-size: 1.3rem;
        color: #ffffff;
        font-family: 'M PLUS 1 Code', monospace;
        font-weight: 400;
        line-height: 1;
    }
    .headline-small-2 {
        font-size: 1.3rem;
        color: #ffffff;
        font-family: 'Koulen', sans-serif;
        font-weight: 400;
        line-height: 1;
    }
    .headline-small-black {
        font-size: 1.3rem;
        color: #0E0E0E;
        font-family: 'M PLUS 1 Code', monospace;
        font-weight: 400;
        line-height: 1;
    }
    .headline-small-blue {
        font-size: 1.5rem;
        color: #2b80ff;
        font-family: 'Lekton', sans-serif;
        font-weight: 400;
        line-height: 1;
    }

    /* medium fonts */
    .headline-medium {
        font-size: 1.75rem;
        color: #5E9FFF;
        font-family: 'Lekton', sans-serif;
        font-weight: 400;
        line-height: 1;
    }

    /* large fonts */
    .headline-large {
        font-size: 5.25rem;
        color: #ffffff;
        font-family: 'Koulen', sans-serif;
        font-weight: 400;
        line-height: 1;
    }
    .headline-large-black {
        font-size: 5.25rem;
        color: #0E0E0E;
        font-family: 'Koulen', sans-serif;
        font-weight: 400;
        line-height: 1;
    }
    .headline-large-blue {
        font-size: 5.25rem;
        color: #5E9FFF;
        font-family: 'Koulen', sans-serif;
        font-weight: 400;
        line-height: 1;
    }
}

/* ============================================================================font styling  */

.opacity-full { opacity: 100%; }
.opacity-half { opacity: 50%; }
.opacity-quarter { opacity: 25%; }

/* ============================================================================font styling  */

.line-height-low {line-height: 1;}
.line-height-med {line-height: 1.5;}

/* ============================================================================font styling  */

.weight-bold {font-weight: 700;}
