
@media only screen and (max-width: 1441px) and (max-width: 1500px) {

    /* fonts */
    .font-xxs {
        font-size: 0.5rem;
    }
    .font-xs {
        font-size: 1rem;
    }
    .font-s {
        font-size: 1.5rem;
    }
    .font-m {
        font-size: 2.25rem;
    }
    .font-l {
        font-size: 5.25rem;
    }
}