/* component styling */

.page-number {position: fixed;bottom: 10px;right: 10px;}

/* ========================================================================container styling */

.main-container {
    /* width: calc(100vw - 6.5rem); */
    width: 100vw;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ===========================================================================button styling */

.styled-button {
    display: flex;
    flex-direction: row;
}
.button {
    min-width: 120px;
    min-height: 50px;
    background: none;
    color: #5E9FFF;
    font-weight: 500;
    font-size: 16px;
    border: 1px #5E9FFF solid;
    font-family: 'M PLUS 1 Code', monospace;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    transition: 0.7s ease;
}
.button:hover {
    background: #5E9FFF;
    color: #000000;
}
.middle {
    min-width: 120px;
    display: flex;
    flex-direction: column;
}
.left {
    min-width: 50px;
    display: flex;
    flex-direction: column;
}
.right {
    min-width: 50px;
    display: flex;
    flex-direction: column;
}
.box-1 {
    min-height: 75px;
}
.box-7 {
    min-height: 75px;
}
.box-3 {
    min-height: 75px;
}
.box-9 {
    min-height: 75px;
}
.box-5 {
    min-width: 120px;
    min-height: 50px;
}
.box-2 {
    min-width: 50px;
    min-height: 50px;
    border-bottom: 1.6px solid;
    border-image: linear-gradient(to right, rgba(161, 161, 161, 0) 15%, #0084ffcb 95%) 1;
}
.box-4 {
    min-width: 120px;
    min-height: 75px;
    border-left: 1.6px solid;
    border-image: linear-gradient(to bottom, rgba(161, 161, 161, 0) 15%, #0084ffcb 95%) 1;
}
.box-6 {
    min-width: 120px;
    min-height: 75px;
    border-right: 1.6px solid;
    border-image: linear-gradient(to top, rgba(161, 161, 161, 0) 15%, #0084ffcb 95%) 1;
}
.box-8 {
    min-width: 50px;
    min-height: 50px;
    border-top: 1.6px solid;
    border-image: linear-gradient(to left, rgba(161, 161, 161, 0) 15%, #0084ffcb 95%) 1;
}

/* ============================================================================font styling  */

/* nav fonts */
.nav-item {
    color: rgb(153, 153, 153);
    text-decoration: none;
    font-weight: 600;
    font-size: .9rem;
    font-family: 'Inter', sans-serif;
}

/* xsmall fonts */
.headline-xsmall {
    font-size: 1.75rem;
    color: #5E9FFF;
    font-family: 'Lekton', sans-serif;
    font-weight: 400;
    line-height: 1;
}
.headline-xsmall-2 {
    font-size: 1rem;
    color: #5E9FFF;
    font-family: 'Koulen', sans-serif;
    font-weight: 400;
    line-height: 1;
}

/* small fonts */
.headline-small {
    font-size: 2rem;
    color: #ffffff;
    font-family: 'M PLUS 1 Code', monospace;
    font-weight: 400;
    line-height: 1;
}
.headline-small-2 {
    font-size: 2rem;
    color: #ffffff;
    font-family: 'Koulen', sans-serif;
    font-weight: 400;
    line-height: 1;
}
.headline-small-black {
    font-size: 2rem;
    color: #0E0E0E;
    font-family: 'M PLUS 1 Code', monospace;
    font-weight: 400;
    line-height: 1;
}
.headline-small-blue {
    font-size: 2rem;
    color: #2b80ff;
    font-family: 'Lekton', sans-serif;
    font-weight: 400;
    line-height: 1;
}

/* medium fonts */
.headline-medium {
    font-size: 3rem;
    color: #5E9FFF;
    font-family: 'Lekton', sans-serif;
    font-weight: 400;
    line-height: 1;
}

/* large fonts */
.headline-large {
    font-size: 6rem;
    color: #ffffff;
    font-family: 'Koulen', sans-serif;
    font-weight: 400;
    line-height: 1;
}
.headline-large-black {
    font-size: 6rem;
    color: #0E0E0E;
    font-family: 'Koulen', sans-serif;
    font-weight: 400;
    line-height: 1;
}
.headline-large-blue {
    font-size: 6rem;
    color: #5E9FFF;
    font-family: 'Koulen', sans-serif;
    font-weight: 400;
    line-height: 1;
}

/* ============================================================================font styling  */

.opacity-full { opacity: 100%; }
.opacity-half { opacity: 50%; }
.opacity-quarter { opacity: 25%; }

/* ============================================================================font styling  */

.line-height-low {line-height: 1;}
.line-height-med {line-height: 1.5;}

/* ============================================================================font styling  */

.weight-bold {font-weight: 700;}
