
/* ===========================================================================navbar styling */

.navbar-vertical-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
#navbar {
    background-color: #0E0E0E;
    padding: 10px;
    height: 100vh;
    width: 10.5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-between;
}
.nav-list-items {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.nav-item {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Koulen', sans-serif;

}
.nav-item:hover {
    color: rgb(206, 206, 206);
}

/* ========================================================================container styling */

.main-container {
    width: calc(100% + 10.5%);
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

/* ===========================================================================button styling */

/* ============================================================================font styling  */
.font-xxs {
    font-size: 1rem;
}
.font-xs {
    font-size: 1.5rem;
}
.font-s {
    font-size: 2.25rem;
}
.font-m {
    font-size: 3rem;
}
.font-l {
    font-size: 6rem;
}
.color-black {
    color: #0E0E0E;
}
.color-white {
    color: #FFFFFF;
}
.color-blue {
    color: #5E9FFF;
}
.family-plus-code {
    font-family: 'M PLUS 1 Code', monospace;
    font-weight: 400;
}
.family-koulen {
    font-family: 'Koulen', sans-serif;
    font-weight: 400;
}
.family-lekton {
    font-family: 'Lekton', sans-serif;
    font-weight: 400;
}
.opacity-full { opacity: 100%; }
.opacity-half { opacity: 50%; }
.opacity-quarter { opacity: 25%; }

.line-height-low {line-height: 1;}