
.page-number {position: fixed;bottom: 10px;right: 10px;}

/* ===========================================================================navbar styling */


/* ========================================================================container styling */

.wrapper-container {
    background-color: none;
    display: flex;
    justify-content: flex-end;
}
.main-container {
    width: calc(100vw - 8vw);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

/* ===========================================================================button styling */

.styled-button {
    display: flex;
    flex-direction: row;
}
.button {
    min-width: 100px;
    min-height: 50px;
    border: 1px #0084ff solid;
}
.left {
    min-width: 50px;
    display: flex;
    flex-direction: column;
}
.box-1 {
    min-width: 50px;
    min-height: 50px;
    border-right: 1px solid;
    border-image: linear-gradient(to bottom, rgba(161, 161, 161, 0) 40%, #0084ff 60%) 1;
}
/* to top: Bottom to top.
to right: Left to right.
to bottom: Top to bottom (which you have already used).
to left: Right to left.
to top right: Bottom-left to top-right.
to top left: Bottom-right to top-left.
to bottom right: Top-left to bottom-right.
to bottom left: Top-right to bottom-left. */
.box-2 {
    min-width: 50px;
    min-height: 50px;
    border-bottom: 1px solid;
    border-image: linear-gradient(to bottom left, #0084ff 40%, rgba(161, 161, 161, 0) 60%) 1;
}
.box-3 {
    min-width: 50px;
    min-height: 50px;
/* border-image: linear-gradient(to bottom left, rgba(161, 161, 161, 0) 40%, #0084ff 60%) 1; */
}
.middle {
    min-width: 100px;
    display: flex;
    flex-direction: column;
}
.box-4, .box-5, .box-6 {
    min-width: 100px;
    min-height: 50px;
}
.right {
    min-width: 50px;
    display: flex;
    flex-direction: column;
}
.box-7, .box-8, .box-9 {
    min-width: 50px;
    min-height: 50px;
}

/* ============================================================================font styling  */

.font-xxs {
    font-size: 1rem;
}
.font-xs {
    font-size: 1.5rem;
}
.font-s {
    font-size: 2.25rem;
}
.font-m {
    font-size: 3rem;
}
.font-l {
    font-size: 6rem;
}
.color-black {
    color: #0E0E0E;
}
.color-white {
    color: #FFFFFF;
}
.color-blue {
    color: #5E9FFF;
}
.family-plus-code {
    font-family: 'M PLUS 1 Code', monospace;
    font-weight: 400;
}
.family-koulen {
    font-family: 'Koulen', sans-serif;
    font-weight: 400;
}
.family-lekton {
    font-family: 'Lekton', sans-serif;
    font-weight: 400;
}
.opacity-full { opacity: 100%; }
.opacity-half { opacity: 50%; }
.opacity-quarter { opacity: 25%; }

.line-height-low {line-height: 1;}